
/* Overall Stuff */
* {
font-size: 3rem;
/* Google fonts (CSS rules to specify families section) */
font-family: 'Montserrat', sans-serif;
}


p, h1, h2, h3, h4, ul, li {
    padding-left: 20px;
}





/* Can either use id to make this bullet-style take precedence, or follow up class with "! important" */
#disc {
    list-style-type: disc;
}

/* Establishing Root colors */

:root {
    --color-primary: rgb(0,128,128);
    --color-secondary: rgb(0,255,255);
    --color-accent: #2c2ced;
}

/*  */


/* Headings */

h1, h2, h3, h4 {
    text-decoration: underline;
    padding-top: 100px;
}


/* Setting Margins */
.HeadingsMargin {
    margin-top: 100px;
    margin-bottom: 20px;
}
.pMargins {
    margin-top: 100px;
}

/* Tables */
table,
td,
th {
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin-left: 20px;
    padding:5px 60px;
}

figcaption {
    margin-left: 20px;
}


/* Tutoring image */

.TutorCaption_width {
    width: 300px;
    text-align: center;
}

/* Image/Video Dimensions */

.ImagesIntro {
    height: 300px;
    border-radius: 150px;
}
.ImagesGeneral {
    height: 500px;
    border-radius: 100px;
}
.VideosGeneral {
    height: 500px;
    border-radius: 100px;
}

/* Floating Images (outdated) */

.ImageMalkhaz {
    border: 10px solid black;
    float: left;
}
.ImageMalkhazClearFloat {
    clear: both;
    margin-top: 500px;
}

/* Overflow (found the webkit stuff online) */

.overflow {
    height: 30rem;
    width: 90%;
    font-size: 30px;
    border: 2px solid gray;
    border-radius: 20px;
    overflow: auto;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    border: 1px solid beige;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: whitesmoke;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: lightgray;
  }


/* Yazbegi photo montage)*/

/* ... using Flex */

.YazbegiContainer {
    width: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
    border-radius: 3%;

}

.Yazbegi_expand:hover {
    transform: scale(1.5,1.5);
    /* These borders = not perfect? Even though image border-radius = 100px */
    /* border: 5px solid lightgray; */
    border-radius: 100px;
    filter: blur(0px);
}


/* Flex shrink wouldn't work... Flex basis = overtakes width/height properties */
.YazbegiImage {
    flex-basis: 500px;
    flex-shrink: 1;
    margin-bottom: 10px;
    filter: blur(2px);
}
.Yaz_figcap {
    text-align: center;
}

/* Links  */

a:hover[target="_blank"] {
    border: 1px solid lightpink;
}



/* Creating a biography section using a grid */

/* 
Grids: Use units of fractions (fr) over percentage. If add more rows/columns, doesn't overflow 
Tip2: instead of grid template rows/columns properties, can use grid-template: rows / columns 
Tip3: Don't assign things relative to container for children inside div (e.g. image element). Assign to the div! 
Tip4: To see assigned names for grid, in devtools, after selecting "grid", under layout section, select "show area names" 
*/

.PeopleContainer {
    display: grid;
    width: 50%;
    grid-template-rows: 100px, repeat(4,500px);
    grid-template-columns: 30fr 70fr;
    align-items: center;
    row-gap: 10px;
    grid-template-areas: "HeaderIcon HeaderDesc" "Image1 Desc1" "Image2 Desc2" "Image3 Desc3" "Image4 Desc4";
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
}
.PeopleHeaderIcon {
    grid-area: HeaderIcon;
    width: auto;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
    text-decoration: underline;
    /* Below = making a div element hidden (visibility = doesn't take spot. Display = does)*/
    /* visibility: hidden; */
    /* display: none */
}

.PeopleHeaderDesc {
    grid-area: HeaderDesc;
    width: auto;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
    text-decoration: underline;
    /* Below = making a div element hidden (visibility = doesn't take spot. Display = does)*/
    /* visibility: hidden; */
    /* display: none */
}
.PersonIcon {
    height: 400px;
    width: 300px;
    margin: 20px;
    border: 5px solid darkgray;
    border-radius: 50%;  
   
}
.IconFit {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

/* Malkhaz image was taken horizontally, so object-fit = helps to prevent warping */
.IconFit_ObjectFit {
    object-fit: cover;
}

/* Shifting Items in a grid (refer to grid-template-areas property) */
.NiniIcon {
    grid-area: Image1;
}
.NiniDesc {
    grid-area: Desc1;
    text-align: left;
}
.MalkhazIcon {
    grid-area: Image4;
}
.MalkhazDesc {
    grid-area: Desc4;
}

/* Creating Forms.... */
form, textarea {
    width: 50%;
    padding: 2rem;
    font-size: 2rem;

}

.label_size {
    font-size: 2.5rem;
}

input {
    padding: 5px;
}

textarea {
    /* resize: none; */
}

.textarea_FontSize {
    font-size: 3rem;
}

.Review_Forms_margins {
    margin-top: 50px;
    margin-bottom: 100px;
}
p.form_title_top-margin {
    margin-top: 100px;
}
.margin_button {
    margin-top: 50px;
}



/* .. Checkbox form */
.Form_margin-left {
    margin-left: 20px;
}

.CheckBox_font_size {
    font-size: 3rem;
}

/* Fixing Yazbegi Form */
.DropDown_select_height_font {
    height: 50px;
    font-size: 3rem;
}

.Montage_form_height {
    height: 300px;
}

.Select_Height {
    height: 100px;
    overflow: auto;
    margin-bottom: 20px;
}

/* File Forms */

.file_font {
    font-size: 3rem;
}

/* Fieldsets */
.legend_margin {
    margin-top: 100px;
}

/* .... */


/* Using Media Query (Display when split-screening). Standard breakpoint = 1024px (since laptops/desktops = greater than that)*/
@media screen and (max-width: 1500px) {
    .PeopleContainer {
        width: 100%;
    }
    .YazbegiContainer {
        width: 1200px
        }
    .YazbegiImage {
        flex-basis: 400px;
        }
    form, textarea {
        width: 100%;
    }
}


