/* Overall Stuff */
* {
font: 200;
font-size: xx-large;
}
/* Setting Margins */
.HeadingsMargin {
    margin-top: 100px;
    margin-bottom: 20px;
}
.pMargins {
    margin-top: 100px;
}
/* Tables */
table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 20px;
    padding:5px 60px;
}

/* Image/Video Dimensions */
.ImagesIntro {
    height: 300px;
    border-radius: 150px;
}
.ImagesGeneral {
    height: 500px;
    border-radius: 100px;
}
.VideosGeneral {
    height: 500px;
    border-radius: 100px;
}

/* Overflow */
.overflow {
    height: 20rem;
    width: 90%;
    font-size: 30px;
    border: 5px solid black;
    overflow: auto auto;
}

/* Positioning objects */
.photoPosition {
    position: relative;
    left: 200px;
    bottom: 20px;
}
.YazMon {
    margin-top: 100px;
}
.YazMon-2 {
    position: relative;
    left:250px;
    bottom:700px;
}
.YazMon-3 {
    position: relative;
    left:500px;
    bottom:1500px;
    z-index: -1;
}